<!DOCTYPE html>
<html>

<head>
    <title>LoveLink Interests</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="main-container">
        <h1>Welcome to LoveLink💕🔥🥵</h1>
        <!-- Personalized Greeting -->
        <div id="greeting">
            <p>Hi {{ session['name'] }} ({{ session['email'] }}),</p>
            <p>Welcome to LoveLink💕🔥🥵 , Dartmouth's very own heartstring helpline! 💘📚 Wondering if that glance over
                Collis smoothies was sweet with intent? Or if your late-night Foco buddy is dishing out more than just
                meal swipes? Unravel the romance riddles right here! Just above this box, your love inquiries begin.
                Drop in the full names of your heart's picks, and let us be your confidential cupid. Welcome back
                beautiful! Your secrets are safe, your data secure, exclusively yours. If the beat of your crush's heart
                matches the rhythm of yours, we'll be the bearers of that heart-fluttering revelation. Submit those
                names, and watch as we turn your Foco 'hellos' into cozy, candlelit 'don't let go's.
            </p>
        </div>

        <div class="interest-list-container">
            <h2>Your Interests</h2>
            <div id="interest-list">
                {% for interest in interests %}
                <span class="interest-item">
                    {{ interest }}
                    <button onclick="removeInterest('{{ interest }}');" class="remove-interest-btn">X</button>
                </span>
                {% endfor %}
            </div>
        </div>

        <!-- Interest Form -->
        <div class="interest-form-container">
            <input type="text" name="name" id="interest-name" placeholder="Enter a name...">
        </div>


        <div id="submission-message"></div> <!-- Placeholder for submission messages -->

        <!-- Button Container -->
        <div class="button-container">
            <button onclick="submitInterest(event);" class="btn">Add Interest</button>
            <button onclick="signOut();" class="btn">Sign Out</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>