<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - LoveLink</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
    <div class="main-container">
        <h1>Welcome to LoveLink💕🔥🥵</h1>
        <div class="info-container">
            <div class="user-count-box">
                <span class="info-title">Total Users:</span>
                <div class="digits">{{ user_count }}</div>
            </div>
            <div class="release-countdown-box">
                <span class="info-title">Days Until Results are Released:</span>
                <div class="digits">{{ days_until_release }}</div>
            </div>
        </div>
        <p class="description">
            Are they into you?! 🎢💓 Say goodbye to the love limbo! LoveLink💕🔥🥵 is your secret decoder, turning your
            'what ifs' into 'what is'. Is that cutie in the library just checking out books, or also checking you out?
            📚😍 Is your lab partner mixing chemicals or brewing love potions for you? 🔬💕 No more second-guessing -
            jot down the names of your crushes (we need full names, pretty please! 📝), and we'll do the love math. If
            the affection equation adds up, you'll get the sweet news in your inbox by the end of the month. It's time
            to turn those maybe-moments into definitely-dates!
        </p>
        <div id="buttonDiv"></div> <!-- Google Sign-In button will be rendered here -->
        <div class="user-info" id="user-info"></div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>

</html>